@use "../abstracts/variables" as *;


.navbar{

height:75px;

padding:0 50px;

display:flex;

align-items:center;

justify-content:space-between;


background:
rgba(9,9,11,.8);


backdrop-filter:blur(16px);


border-bottom:1px solid $border-color;



.logo{

font-size:22px;

font-weight:800;

color:white;


}


.nav-links{

display:flex;

gap:12px;



a{

padding:10px 18px;

border-radius:12px;


font-size:15px;

color:$text-secondary;


transition:.25s;



&:hover{

background:#18181b;

color:white;

}



&.active{

background:$primary;

color:white;

}

}


}

}
