@use "../abstracts/variables" as *;


.stats-card{

background:
linear-gradient(
180deg,
#18181b,
#111113
);


border:1px solid $border-color;


border-radius:22px;


padding:28px;


transition:.25s;



&:hover{

transform:translateY(-5px);

border-color:$primary;

}



h3{

color:$text-secondary;

font-size:15px;

}


.value{

font-size:38px;

font-weight:800;

margin-top:15px;

}


}
