@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;



.form-card{

max-width:800px;

margin:auto;


background:#111113;

border:1px solid #27272a;

border-radius:22px;

padding:35px;



input,
select,
textarea{

width:100%;

background:#09090b;

border:1px solid #27272a;

border-radius:12px;

padding:14px;

color:white;


margin-bottom:18px;


&:focus{

outline:none;

border-color:#7c3aed;

}

}



button{

width:100%;

padding:15px;

border-radius:12px;

border:none;

background:#7c3aed;

color:white;

font-weight:700;

cursor:pointer;



&:hover{

background:#8b5cf6;

}

}

}