@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.revision {


padding:$spacing-lg;



&__list {


display:flex;
flex-direction:column;
gap:$spacing-md;


}



.empty {


text-align:center;
color:$text-secondary;


}


}