@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;


@use "./components/navbar";
@use "./components/problemCard";
@use "./components/revisionCard";
@use "./components/statsCard";


@use "./pages/dashboard";
@use "./pages/library";
@use "./pages/addProblem";
@use "./pages/analytics";



*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}


body{

background:
radial-gradient(
circle at top left,
rgba(124,58,237,.12),
transparent 30%
),
$bg-main;


font-family:$font-main;

color:$text-primary;

min-height:100vh;

}


a{
color:inherit;
text-decoration:none;
}


button{

font-family:inherit;

}

// ======================
// GLOBAL LAYOUT FIX
// ======================


#root{

min-height:100vh;

}


main,
.page,
.dashboard,
.library,
.revision,
.analytics,
.add-problem{

max-width:1450px;

margin:0 auto;

padding:40px 55px;

}